* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}
/* ëª¨ë“  Deviceë¥¼ ìœ„í•œ ê³µí†µ ë¡œë“œ */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
figure,
figcaption,
span {
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
}
body,
html,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p hr,
button,
input,
form,
fieldset,
table,
caption,
th,
td,
header,
nav,
section,
article,
aside,
footer,
textarea {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pretendard", sans-serif;
  font-size: 16px;
  color: #212121;
  background-color: #fff;
}

header,
nav,
section,
article,
aside,
footer {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

legend,
caption {
  text-indent: -100%;
  /* *text-indent: 0; */
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-shadow: none;
  color: transparent;
}
img {
  max-width: 100%;
  border: 0;
  vertical-align: top;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table,
th,
td {
  border: none;
  text-align: left;
}

th,
label {
  font-weight: normal;
}

address {
  font-style: normal;
}

button,
input {
  border: none;
  background: none;
}

button:focus,
input:focus {
  outline: none;
}

button,
a,
input,
label {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  font-family: "pretendard", sans-serif;
}

input,
textarea {
  cursor: text;
  font-family: "pretendard eng", "pretendard", sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: #999999;
}

@media (max-width: 768px) {
  input,
  textarea,
  input::placeholder,
  textarea::placeholder {
    font-size: 15px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled,
button:disabled {
  cursor: no-drop;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  cursor: no-drop;
}

a {
  text-decoration: none;
  color: #333;
}

input::-ms-clear {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"],
input[type="password"] {
  cursor: text;
}

input::placeholder textarea::placeholder {
  font-family: "pretendard", sans-serif;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

mark {
  background: none;
}

/* select*/
select {
  border-radius: 0; /* ì•„ì´í° ì‚¬íŒŒë¦¬ ë³´ë” ì—†ì• ê¸° */
  -webkit-appearance: none; /* í™”ì‚´í‘œ ì—†ì• ê¸° for chrome*/
  -moz-appearance: none; /* í™”ì‚´í‘œ ì—†ì• ê¸° for firefox*/
  appearance: none; /* í™”ì‚´í‘œ ì—†ì• ê¸° ê³µí†µ*/
}
select::-ms-expand {
  display: none; /* í™”ì‚´í‘œ ì—†ì• ê¸° for IE10, 11*/
}

::-webkit-scrollbar {
  background: transparent;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 50px;
}

/* ê³µí†µ ì»¨í…ì¸  font */
@media only screen and (max-width: 1460px) {
}
@media only screen and (min-width: 1461px) {
}

/* í•œê¸€ í°íŠ¸ (í¬ë§· í™•ì¸ ìž˜í•  ê²ƒ) */
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 900;
  src: url("../font/pretendard/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 800;
  src: url("../font/pretendard/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("../font/pretendard/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("../font/pretendard/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("../font/pretendard/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("../font/pretendard/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("../font/pretendard/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 200;
  src: url("../font/pretendard/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 100;
  src: url("../font/pretendard/Pretendard-Thin.woff") format("woff");
}

/* ì˜ë¬¸í°íŠ¸ */
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../font/plus_jakarta_sans/static/PlusJakartaSans-ExtraLight.ttf")
    format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../font/plus_jakarta_sans/static/PlusJakartaSans-Light.ttf")
    format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/plus_jakarta_sans/static/PlusJakartaSans-Regular.ttf")
    format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../font/plus_jakarta_sans/static/PlusJakartaSans-Medium.ttf")
    format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../font/plus_jakarta_sans/static/PlusJakartaSans-SemiBold.ttf")
    format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../font/plus_jakarta_sans/static/PlusJakartaSans-Bold.ttf")
    format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../font/plus_jakarta_sans/static/PlusJakartaSans-ExtraBold.ttf")
    format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

/* ì˜ë¬¸ ê°•ì œ ì ìš© */
@font-face {
  font-family: "pretendard_eng";
  font-style: normal;
  font-weight: 900;
  src: url("../font/pretendard/Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "pretendard_eng";
  font-style: normal;
  font-weight: 800;
  src: url("../font/pretendard/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "pretendard_eng";
  font-style: normal;
  font-weight: 700;
  src: url("../font/pretendard/Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "pretendard_eng";
  font-style: normal;
  font-weight: 600;
  src: url("../font/pretendard/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "pretendard_eng";
  font-style: normal;
  font-weight: 500;
  src: url("../font/pretendard/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "pretendard_eng";
  font-style: normal;
  font-weight: 400;
  src: url("../font/pretendard/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "pretendard_eng";
  font-style: normal;
  font-weight: 300;
  src: url("../font/pretendard/Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "pretendard_eng";
  font-style: normal;
  font-weight: 200;
  src: url("../font/pretendard/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "pretendard_eng";
  font-style: normal;
  font-weight: 100;
  src: url("../font/pretendard/Pretendard-Thin.woff") format("woff");
}
